div {
    display: flex;
    flex-direction: column;
    background-color: #ddae7e;
    border: 5px solid #aa6e7e;
    width: 500px;
    padding: 5px;
    box-sizing: border-box;
}

li {
    display: flex;
    margin: 10px;
}

img {
    height: 150px;
    width: 300px;
}

p {
    text-indent: 20px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 3px #aa6e7e;
}