body{
	background-color: #f3f3f2;
}

.boxmodel{
	border: 2px solid black;
	display: flex;
	padding: 10px;
	margin: 20px;
	width: 400px;
}

.left, .right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 200px;
    height: auto;
    max-height: 100%;
}