body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#header {
    height: 100px;
    background-color: red; 
    text-align: center;
}

#menu {
    min-height: 25px;
    background-color: yellow;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    border-left: 2px solid;
    padding: 0 10px;
}

#main {
    min-height: calc(100vh - 185px);
    background-color: green;
}

#footer {
    height: 60px;
    background-color: pink; 
    text-align: center;
}

p {
    padding: 10px;
}