<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=MARIA\SQLEXPRESS;Database=Calatorii;Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!--
	<appSettings>
		<add key="ParentTableName" value="Destinatii"/>
		<add key="ChildTableName" value="PacheteTuristice"/>
		<add key="ChildNumberOfColumns" value="5"/>
		<add key="ChildColumnNames" value="IDPachetTuristic,NumePachet,Descriere,Pret,DestinatieID"/>
		<add key="ColumnNamesInsertParameters" value="@id,@nume,@descriere,@pret,@parentId"/>
		<add key="selectFromParent" value="SELECT * FROM Destinatii"/>
		<add key="selectFromChild" value="SELECT * FROM PacheteTuristice WHERE destinatieID=@ID"/>
		<add key="maxIdCommand" value="SELECT MAX(IDPachetTuristic) FROM PacheteTuristice"/>
		<add key="UpdateQuery" value="UPDATE PacheteTuristice SET NumePachet=@nume, Descriere=@descriere, Pret=@pret WHERE IDPachetTuristic=@id"/>
		<add key="DeleteQuery" value="DELETE FROM PacheteTuristice WHERE IDPachetTuristic=@id"/>
	</appSettings>
	-->
	<appSettings>
		<add key="ParentTableName" value="PacheteTuristice"/>
		<add key="ChildTableName" value="ExcursiiOptionale"/>
		<add key="ChildNumberOfColumns" value="5"/>
		<add key="ChildColumnNames" value="IDExcursie,NumeExcursie,Descriere,Pret,PachetID"/>
		<add key="ColumnNamesInsertParameters" value="@id,@nume,@descriere,@pret,@parentId"/>
		<add key="selectFromParent" value="SELECT * FROM PacheteTuristice"/>
		<add key="selectFromChild" value="SELECT * FROM ExcursiiOptionale WHERE PachetID=@ID"/>
		<add key="maxIdCommand" value="SELECT MAX(IDExcursie) FROM ExcursiiOptionale"/>
		<add key="UpdateQuery" value="UPDATE ExcursiiOptionale SET NumeExcursie=@nume, Descriere=@descriere, Pret=@pret WHERE IDExcursie=@id"/>
		<add key="DeleteQuery" value="DELETE FROM ExcursiiOptionale WHERE IDExcursie=@id"/>
	</appSettings>
	
</configuration>