input {
    background-image: url("http://3.bp.blogspot.com/-4oAWWCcNNz4/Tjr3nKNyVUI/AAAAAAAAPLU/Pouua-pNsEY/s1600/sq.gif");
    background-size: 26px;
    width: 514px;
    height: 25px;
    border: none;
    font-family: "Monaco", monospace;
    padding-left: 5px;
    letter-spacing: 2.6ch;
}

#cnp {
    width: 358px;
}